<configuration>
    <!-- Create a file appender for a log in the application's data directory -->
    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <encoder>
            <pattern>%msg</pattern>
        </encoder>
    </appender>

    <!-- Write INFO (and higher-level) messages to the log file -->
    <root level="INFO">
        <appender-ref ref="logcat" />
    </root>

    <logger name="org.reflections.Reflections" level="ERROR">
        <appender-ref ref="logcat" />
    </logger>
</configuration>