# gestalt specific files to be excluded
/gestalt-di/test-modules/
# used to test if a module.jar is loaded correctly, so part of repo
# despite it is recreated.
/gestalt-es-perf/test-modules/moduleF.jar
/gestalt-module/test-modules/*

# Ignore general
/.*
!.gitignore
*~
._*
*.bak

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore Gradle
/.gradle/
/build-logic/.gradle
build/
local.properties

# Ignore IntelliJ
out/
*.iml
/*.ipr
/*.iws

# Ignore Eclipse
.checkstyle
.project
.classpath
.settings/
bin/

# Ignore Linux
*.directory

#Ignore OSX
Icon

#Ignore Windows
ehthumbs.db
Thumbs.db

