# Ignore general
/.*
!.gitignore
*~
._*
*.bak

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
/gestalt-module/test-modules/*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore Gradle
/.gradle/
build/

# Ignore IntelliJ
/out/
*.iml
/*.ipr
/*.iws

# Ignore Eclipse
.checkstyle
.project
.classpath
.settings/
bin/

# Ignore Linux
*.directory

#Ignore OSX
Icon

#Ignore Windows
ehthumbs.db
Thumbs.db